<!-- -->

<launch>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="simpleObstacle"/>
  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find telekyb_gazebo)/worlds/simple_obstacles.world"/>
    <!-- more default parameters can be changed here -->
  </include>
</launch>
