<?xml version="1.0"?>
<robot 
  name="qc13"
  xmlns:xacro="http://ros.org/wiki/xacro"
>
  <link name="base_link">
    <!--
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.001" ixy="0.001" ixz="0.001" iyy="0.001" iyz="0.001" izz="0.001" />
    </inertial>
    -->
    <visual name="arm1">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.8 0.02 0.02" />
      </geometry>
    </visual>
    <collision name="arm1">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.8 0.02 0.02" />
      </geometry>
    </collision>
    
    <visual name="arm2">
      <origin xyz="0 0 0" rpy="0 0 1.570796" />
      <geometry>
        <box size="0.8 0.02 0.02" />
      </geometry>
    </visual>
    <collision name="arm2">
      <origin xyz="0 0 0" rpy="0 0 1.570796" />
      <geometry>
        <box size="0.8 0.02 0.02" />
      </geometry>
    </collision>
  </link>
  
  <!-- Asus Xiton Live Pro -->
  <xacro:include filename="qc13_xtion.urdf.xacro" />
  <xacro:asus_camera name="camera" parent="base_link">
    <origin xyz="0.044 -0.044 -0.01" rpy="-1.6232 0.3927 -0.7854"/>
  </xacro:asus_camera>
  
  <!-- Downward facinf camera -->
    <xacro:include filename="generic_camera.urdf.xacro" />
    <xacro:generic_camera name="bottom_camera" parent="base_link" ros_topic="camera_image" cam_info_topic="camera_info" update_rate="30" res_x="320" res_y="240" image_format="R8G8B8" hfov="${0.6/M_PI * 180.0}">
      <origin xyz="0.0 0.0 -0.1" rpy="0 ${M_PI/2} ${M_PI/4}"/>
    </xacro:generic_camera>

  <!-- Range Finder -->
    <xacro:include filename="sonar_sensor.urdf.xacro" />
    <xacro:sonar_sensor name="sonar" parent="base_link" ros_topic="sonar_distance" update_rate="30" min_range="0.01" max_range="25.0" field_of_view="0.01" ray_count="1">
      <origin xyz="-0.05 0.05 -0.1" rpy="0 ${M_PI/2} ${M_PI/4}"/>
    </xacro:sonar_sensor>
</robot>
