<launch>
  	<!-- declare argument to be passed in -->
  	<arg name="ID" /> 

	<!-- UAV -->
	<node name="TeleKybCore_$(arg ID)" pkg="telekyb_core" type="telekyb_core">
	      <param name="TeleKybCore/tRobotID" value="$(arg ID)" />
	      <param name="SSXStateEstimator/tSSXSeTopicName" value="/TeleKyb/SwarmSimX/Mikrokopter$(arg ID)/InternalState" />
	      <param name="SSXStateEstimator/tSSXPositionOffset" value="[0.0,0.0,1.3]" />
	      <param name="StandardTrajectoryTracker/tCommandsTopic" value="/TeleKyb/SwarmSimX/Mikrokopter$(arg ID)/commands" />
	      <param name="StandardMassEstim/tInitialMass" value="0.749" />
	      <param name="StateEstimatorController/tPublishRosTransform" value="true"/>
	      <param name="PositionControl/tDerGainVelMode" value="7.5" />
	
	<!-- no safety modules -->
	      <param name="TrajectoryProcessorController/tTrajectoryModules" value="[]"/>

	<!-- safety modules activated -->
	      <!--param name="TrajectoryProcessorController/tTrajectoryModules" 
	      	     value='
		     ["tk_trajprocessor/PMPositionError",
		     "tk_trajprocessor/PMObsAvoid", 
		     "tk_trajprocessor/VMSaturation",
		     "tk_trajprocessor/XMModeCheck", 
		     "tk_trajprocessor/VMObsAvoid" ]
		     '/-->

	      <!--param name="Common/tPrintOptions" value="true"/-->
	      
	      
	</node>
</launch>
